detection_model:
  name: "yolov8s-seg"
  pretrained: True
  classes: 27

volume_estimation:
  aruco_dict: DICT_4x4_50
  reference_size_cm: 10.0

training:
  detection:
    epochs: 300
    batch_size: 32
    img_size: 640
    patience: 50

  device: "auto"
  workers: 8
  seed: 42
  folds: 5

# Data Paths
paths:
  detection_data: "D:/Code/Python/Yummiverse/ai/vision/data_detection.yaml"
  detection_out_dir: "D:/Code/Python/Yummiverse/ai/vision/runs"

# Optimizer
optimizer:
  detection:
    name: "AdamW"
    lr0: 0.009
    weight_decay: 0.0005

# Augmentation
augmentation:
  detection:
    hsv_h: 0.007
    hsv_s: 0.5
    hsv_v: 0.3
    degrees: 15.0
    fliplr: 0.5

    mixup: 0.0
    copy_paste: 0.3
    mosaic: 0.9

# Inference
inference:
  detection_confi: 0.4
  detection_iou: 0.5
  freshness_confi: 0.8
  crop_margin: 0.08
  tta: true
  ensemble_folds: true
